alias aflinger='sudo dumpsys media.audio_flinger'
alias bsu='su -s bash'
alias dservice='sudo dumpsys media.dolby_memoryservice'
alias killice='sudo killall dk.icepower.icesound'
alias l='ls --color=auto --group-directories-first'
alias la='l -A'
alias ll='l -l'
alias lo='l -al'
alias nano='nano -l'
alias sbash='. system/etc/bash/bashrc'
alias sudo='su -c "$@"'
alias vd='cd'
