alias aflinger='sudo dumpsys media.audio_flinger'
alias bsu='su -s bash'
alias dservice='sudo dumpsys media.dolby_memoryservice'
alias killice='sudo killall dk.icepower.icesound'
alias l='ls --color=auto --group-directories-first'
alias la='l -A'
alias ll='l -l'
alias lo='l -al'
alias ls='ls --color=auto'
alias nano='nano -l'
alias sbash='. system/etc/bash/bashrc'
alias sudo='su -c "$@"'
alias sysro='mount -o remount,ro /system'
alias sysrw='mount -o remount,rw /system'
alias vd='cd'

# Functions which I'm gonna count as aliases
getperms(){ pm get-privapp-permissions $1 | sed "s/, /\n/g"
}
getdenyperms(){ pm get-privapp-deny-permissions $1 | sed "s/, /\n/g"
}